.errorMessage {
    background-color: rgba(255, 0, 0, 0.844);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    position: fixed;
    top: 130px;
    right: 20px;
    z-index: 1000;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}