.cart-page {
    padding: 60px 20px;
    background-color: #fefefe;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart {
    max-width: 900px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.empty {
    text-align: center;
    font-size: 25px;
    color: #888;
}

.cart-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-pic {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}

.cart-product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-product-name {
    font-size: 1.4em;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.cart-product-quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cart-product-quantity-label {
    font-size: 1em;
    margin-right: 5px;
    color: #555;
}

.cart-product-quantity-input {
    width: 60px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
    color: #333;
}

.cart-product-price {
    font-size: 1.2em;
    color: #007bff;
    font-weight: 600;
    margin-left: 20px;
}

.remove-btn {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.remove-btn:hover {
    background-color: #c82333;
}

.shopping-cart-summary {
    margin-top: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-price {
    font-size: 1.6em;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

.cart-btn {
    padding: 12px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-btn:hover {
    background-color: #218838;
}