.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(35, 185, 105, 0.893);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-icon {
    margin-top: -50px;
    width: 180px;
    cursor: pointer;
}

.logo-name {
    margin-top: -60px;
    padding-left: 15px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-item {
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;

}

.navbar-item:hover {
    background-color: rgb(18, 149, 77);
}

.icons {
    display: flex;
    gap: 20px;
}

.user-icon {
    width: 30px;
    cursor: pointer;
}

.cart-icon {
    width: 30px;
    cursor: pointer;

}

.search-icon {
    position: relative;
    width: 25px;
    height: 30px;
    cursor: pointer;

}

.logout-icon {
    position: relative;
    width: 25px;
    height: 30px;
    cursor: pointer;
}
