.login {
    /* background: #fef2e3; */
    padding: 234px;
}

.loginForm {
    width: 580px;
    height: 450px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.loginTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.loginFields {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.loginLabels {
    font-size: 20px;
}

.loginBtn {
    width: 200px;
    height: 50px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.loginBtn:hover {
    background-color: #218838;
}

.error {
    display: block;
    margin-top: 0.5em;
    font-size: 0.875em;
    color: #d9534f;
}