.editPost {
    padding: 105px;
}

.postContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.postForm {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

.postTitle {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}


.postForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.postForm input[type="text"],
.postForm input[type="number"],
.postForm textarea,
.postForm input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.postForm textarea {
    resize: vertical;
}

.pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.postForm input[type="file"] {
    padding: 0;
    border: none;
}

.editBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editBtn:hover {
    background-color: #4cae4c;
}

.error {
    display: block;
    margin-top: 5px;
    font-size: 20px;
    color: #d9534f;
}